@use "../../styles/colors";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700;800;900&display=swap');


.container{
    width: 340px;
    height: 76px;
    background-color: rgba(colors.$primary_main, 10%);
}

.container.light{
    background-color: rgba(colors.$primary_main, 20%);
}

.col_num{
    height: 76px;
    width: 79px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: colors.$text_primary;
    font-family: "Montserrat",sans-serif;
    font-size: 20px;
    line-height: 24.38px;
    text-align: center;
    font-weight: 900;
    padding-top: 7px;
    padding-left: 10px;
    background-color: rgba(colors.$primary_main, 20%);

}

.col_num.light{
    background-color: rgba(colors.$primary_main, 30%);
}

.container .col_info{
    height: 100%;
    margin-left: 16px;
}