@use "../../styles/colors";

.product-image{
    width: 699px;
    height: 798px;
    border-radius: 15px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image{
    object-fit: cover;
    height: 100%;
    width: 100%;
    aspect-ratio: 1;
    vertical-align: middle;
}