@use "../../styles/colors";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700;800;900&display=swap');
@font-face {
    font-family: "laca";
    src: url("/fonts/Laca\ Bold.woff") format('woff');
}


.product-actions{
    width: 577px;
    margin:50px;
}

.product-actions .button{
    width: 100%;
    padding: 20px 20px;
    border-radius: 30px;
    font-family: laca,sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
}

.product-actions .buy-button {
    background-color: colors.$primary_main;
    border: none;
    color: colors.$text_primary;
}

.product-actions .buy-button:disabled {
    background-color: #292931;
    border: none;
    color: #858589;
}

.product-actions .bid-button {
    background-color: transparent;
    border: 2px solid colors.$secondary_main;
    color: colors.$secondary_main;
}

.product-actions .bid-button:disabled {
    border: 2px solid #57575F;
    color: #57575F;
}