
.avatar{
    display: flex;
    position: relative;
}

.image{
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

.badge{
    position: absolute;
    bottom: -5%;
    right: min(-5%,-8px);
    width: 30%;
    min-width: 15px;
}