@use "../../styles/colors";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700;800;900&display=swap');

.wrapper{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 100px;
}

.trendingHead{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1%;
}

.trendingTitle{
    font-family: "Montserrat",sans-serif;
    font-weight: 800;
    font-size: 3rem;
    line-height: 3.65rem;
    color: colors.$text_primary;
    margin-bottom: 20px;
}

.trendingHead .selectMenu{
    background-color: colors.$background_paper;
    height: 50px;
    width: 220px;
    border-radius: 30px;
    color: colors.$text_secondary;
    font-family: "Montserrat",sans-serif;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.075rem;
    margin-top: 1.5%;
    margin-right: 3%;
}

.trendingHead .selectMenu svg{
    color: colors.$text_secondary;
}